header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    padding: 20px;
    transition: background-color 0.3s ease;
}

header.scrolled {
    background-color: #ffffff; 
}

h1 {
    margin: 0;
    color: #000000;
}

.my-table {
    background-color: rgb(215,220,46,0.5); /* Ganti dengan warna latar belakang yang Anda inginkan */
}
.text-white-1 {
    background-color: rgba(215,220,46,0.5);
    padding: 10px 50px;
    border-radius: 10px;
}